
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --text-50: #eafbf9;
    --text-100: #d5f6f4;
    --text-200: #abede9;
    --text-300: #81e4de;
    --text-400: #57dbd2;
    --text-500: #2dd2c7;
    --text-600: #24a89f;
    --text-700: #1b7e78;
    --text-800: #125450;
    --text-900: #092a28;
    --text-950: #041514;
  }
}



@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .padding-y-countdown {
    @apply py-6 xxs:py-8 xs:py-10 sm:py-14 md:py-20
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
  
  .h1 {
    @apply font-semibold text-[2.75rem] leading-[3.5rem] md:text-[3rem] md:leading-[4rem] lg:text-[4rem] lg:leading-[5rem] xl:text-[4.5rem] xl:leading-[5.5rem];


  }

  .h2 {

    @apply text-[1.5rem] leading-[2rem] md:text-[1.75rem] md:leading-[2.25rem] lg:text-[2rem] lg:leading-[2.75rem] xl:text-[2.5rem] xl:leading-tight;
  
  }

  .h3 {
    @apply text-[2rem] leading-normal md:text-[2.5rem] lg:text-[3rem];
  }

  .button {
    @apply font-code text-xs font-bold uppercase tracking-wider;
  }

  .border-test {
    @apply border-2 border-red-700;
  }

  .h3-text {
    @apply text-xl mb-4 font-medium text-gray-200
  }

  .swiper {
    @apply h-full w-full pt-12 pb-12 max-lg:pt-24;
  }

  .swiper-slide {
    @apply bg-center bg-cover w-72 h-80 flex items-center justify-center rounded-xl mx-auto lg:w-[370px] lg:h-[420px] md:w-80 md:h-[380px];
  }

  .swiper-slide img {
    @apply block w-full ;
  }

  .swiper-pagination .swiper-pagination-bullet {
    @apply bg-white-400;
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1)); 
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    @apply bg-primary
  }


}